/* ! default template styles for all projects */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* body wrapper */
#flex {
  min-height: 100vh;
  width: 100vw;
  background-color: #babfff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* nav bar */
nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: rgb(48, 31, 31);
}
/* nav bar wrapper */
.nav-cntr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 2px grey;
}
/* nav bar links */
.links a {
  text-decoration: none;
  color: blue;
  padding: 0 5px;
}
/* nav bar link to the list of all the projects' page */
.links #projects {
  font-weight: bold;
  color: rgb(7, 173, 76);
  text-transform: uppercase;
}
/* all nav bar links when active */
.links a.active{
  text-decoration: underline;
}
/* ! end of template styles */
/* !======================= */

/* ! project styles */
/* body wrapper */
div.container{
background-image: url(/6-calculator/hallway-in-office.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 30px;
 
}
/* calculator form */
form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(81, 83, 67, 0.473);
    width: 300px;
    height: 400px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(81, 83, 67, 0.692);
}
/* calulator cntr */
form> div.calulator-cntr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(53, 53, 53);
    padding: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
/* inputs */
form> div.calulator-cntr input{
    width: 220px;
    height: 60px;
    background-color: #ddd;
    color: #000;
    padding: 5px;
}
/* the input btns cntr */
form> div.calulator-cntr div.input-btns-cntr{
    width: 220px;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 10px 0;
}
/* the input btns subsections */
form> div.calulator-cntr div.input-btns-cntr div{
    padding:  5px 10px;
    display: flex;
    justify-content: space-between;
}
/* the input btns */
form> div.calulator-cntr div.input-btns-cntr div .btn{
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}