* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-bottom: 0.8rem;
}
h2 {
  margin-bottom: 0.75rem;
}
h3 {
  margin-bottom: 0.6rem;
}
h4,p {
  margin-bottom: 0.5rem;
}
h5 {
  margin-bottom: 0.4rem;
}
h6 {
  margin-bottom: 0.3rem;
}
/* body wrapper */
#flex {
  background-color: #babfffad;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
/* nav bar */
nav * {
  margin: 0;
}
nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: rgb(48, 31, 31);
}
/* nav bar wrapper */
.nav-cntr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 2px grey;
}
/* all links */
 a {
  text-decoration: none;
  color: blue;
  padding: 0 5px;
}
/* nav bar link to the list of all the projects' page */
.links #projects {
  font-weight: bold;
  color: rgb(7, 173, 76);
  text-transform: uppercase;
}
/* all nav bar links when active */
.links a.active{
  text-decoration: underline;
}

/* main section */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}
/* main section wrapper */
#main-cntr {
  padding: 20px;
}
.heading{
  margin: 0;
  border-bottom: solid;
}
/* section */
section{
  padding: 20px;
}
section div{
  padding: 15px 0;
  border-top: solid 1px;
}
.attribution{
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px){
/* body wrapper */
#flex {
  padding: 0 70px;
}  
}
@media screen and (min-width: 1024px){
/* body wrapper */
#flex {
  padding: 0 100px;
}  
}