/* ! default template styles for all projects */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
}
/* body wrapper */
#flex {
  min-height: 100vh;
  width: 100vw;
  background-color: #babfff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(48, 31, 31);
}
/* nav bar */
nav {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: rgb(48, 31, 31);
}
/* nav bar wrapper */
.nav-cntr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 2px grey;
}
/* nav bar links */
.links a {
  text-decoration: none;
  color: blue;
  padding: 0 5px;
}
/* nav bar link to the list of all the projects' page */
.links #projects {
  font-weight: bold;
  color: rgb(7, 173, 76);
  text-transform: uppercase;
}
/* all nav bar links when active */
.links a.active{
  text-decoration: underline;
}
/* main section wrapper */
.main-cntr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(252, 209, 216);
  background-color: palegoldenrod;
  margin: 80px;
  width: 300px;
  min-height: 300px;
}
/* ! end of template styles */
/* !======================= */

/* ! project styles */
.intro, .outro{
  padding: 30px;
  text-align: center;
}
.intro h2, .outro h2{
  padding-bottom: 0.5em;
}
.intro h3, .outro h3{
  padding-bottom: 0.5em;
color: rgb(77, 55, 55);
}
.outro h3{
  text-decoration: underline;
}
.title{
  text-align: center;
}
#qs, .options{
  padding-bottom: 0.7em;
}
.qs-count{
  padding-bottom: 0.5em;
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: underline;
}
input{
  cursor: pointer;
}
.buttons{
  padding: 10px;
}
button{
  margin:0 10px;
  padding: 2px 5px;
  border: solid 2px #ddd;
  cursor: pointer;
}
#finish-btn{
  display: none;
}
#ans{
  display: none;
}
#ans .correct{
  color: green;
  display: none;
}
#ans .failed{
  color: red;
  display: none;
}
#question-cntr, .outro{
  display: none;
}